files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/01_setenv.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k scriptdir)

      # Set WSGIPath
      echo "WSGIPath=homepage.wsgi:application" >> $EB_SCRIPT_DIR/envvars
      
      # Set DJANGO_SETTINGS_MODULE
      echo "DJANGO_SETTINGS_MODULE=homepage.settings" >> $EB_SCRIPT_DIR/envvars
      
      # Add /opt/python/current/app to Python path
      echo "PYTHONPATH=/opt/python/current/app:\$PYTHONPATH" >> $EB_SCRIPT_DIR/envvars