option_settings:
  aws:elbv2:listener:default:
    ListenerEnabled: 'false' 
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-2:533267321833:certificate/21a9b0bc-a6d5-46f5-b2ea-e15ec5025e44
  aws:elasticbeanstalk:environment:process:https:
    Port: '80'
    Protocol: HTTP  