files:
  /etc/nginx/conf.d/mime.types:
    mode: "000644"
    owner: root
    group: root
    content: |
      types {
        text/html html;
        text/css css;
        application/javascript js;
      }

container_commands:
  reinitialize_nginx:
    command: "/tmp/restart_nginx"

option_settings:
  aws:elasticbeanstalk:environment:process:http:
    MimeTypes: "/etc/nginx/conf.d/mime.types"