option_settings:
  aws:elasticbeanstalk:application:environment:
    STATIC_URL: /static/

container_commands:
  01_setup_static_root:
    command: |
      mkdir /opt/static
      ln -s /opt/python/current/app/staticfiles /opt/static

  02_update_nginx:  
    command: |
      sed -i 's/root.*html/root \/opt\/static;/g' /tmp/deployment/config/#nginx.conf.depl