#bottomline-img {
    width: 900px;
    margin-top: 2rem;
}

#me {
    position: relative;
    width: 181px;
    top: 1rem;
}

#profile {
    margin: 6rem;
    display: flex;
    width: 40rem;
}

#profile-content {
    position: relative;
    display: flex;
    top: 1rem;
    left: 4rem;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
}

.profile-element {
    margin: 0.5rem 2rem;
    text-align: left;
    font-weight: bold;
}

#link {
    position: relative;
    display: flex;
    left: -206%;
    width: 500%;
    margin-top: 36%;
    margin-bottom: 25%;
    align-items: center;
}

#link img {
    position: relative;
    width: 12%;
    left: 34%;
}

#iruka-img {
    animation: irukaAnim 10s forwards;
}

@keyframes irukaAnim {
    0% {
        top: -20px;
    }
    50% {
        top: 0px;
    }
    100% {
        top:20px;
    }
}