.container {
  text-align: center;
}

.container table {
  margin-bottom: 30px;
  margin: 0 auto;
}

.container .counter {
  margin-top: 20px;
  background-color: hwb(197 78% 0%);
}

.counterContent {
  display: inline-block;
}

.container .selectMenu {
  margin-top:10px;
}

.container .yukkuri {
  margin-top: 0.5%;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  0%, 50%, 100% { transform: translateX(0); }
  25% { transform: translateX(5%); }
  75% { transform: translateX(-5%); }
}

.container #manekineko {
  width: 2%;
  height: 2%;
}

#menuImg {
  margin-left: 6%;
}

.menu {
  display: table-cell;
}

.container > div.main-content {
  margin-top: 30px;
  margin-left: 15%;
  width:1000px;
}

#profile, #works, #link {
  position: relative;
  overflow: hidden;
  animation: displayAnim 0.5s forwards;
}

@keyframes displayAnim {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container #mail {
  margin-top:80px;
  animation-name: wAnimation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wAnimation {
  0%, 100% {
    transform: translate(0, 50%);
  }
  8% {
    transform: translate(10%, 150%);
  }
  16% {
    transform: translate(20%, 50%);
  }
  24% {
    transform: translate(30%, 150%);
  }
  32% {
    transform: translate(20%, 50%);
  }
  40% {
    transform: translate(10%, 150%);
  }
  48% {
    transform: translate(0, 50%);
  }
  56% {
    transform: translate(-10%, 150%);
  }
  64% {
    transform: translate(-20%, 50%);
  }
  72% {
    transform: translate(-30%, 150%);
  }
  80% {
    transform: translate(-20%, 50%);
  }
  88% {
    transform: translate(-10%, 150%);
  }
}

.container #linkboshu {
  margin-top:250px;

  width:50%;
  margin-left:25%;
}

.container #main-img {
  width:75%;
}