html {
 overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container #topline-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container table {
  margin-bottom: 30px;
  margin: 0 auto;
}

.container .counter {
  margin-top: 20px;
  background-color: hwb(197 78% 0%);
}

#topline-img {
  width:80%;
  margin-bottom:20px;
}

.counterContent {
  display: inline-block;
}

.container .selectMenu {
  margin-top:10px;
}

#menuImg {
  width: 21%;
  margin-left: 7%;
}

.menu {
  display: table-cell;
}

.container > div.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:1000px;
}

#profile, #works, #link {
  position: relative;
  overflow: hidden;
  animation: displayAnim 0.5s forwards;
}

#works {
  overflow : visible;
  width: 1000px;
}

@keyframes displayAnim {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.container .menuButton {
  height: 100%;
}

.container #main-img {
  width:90%;
  
}

#old-pc {
  position:absolute;
  top:0px;
  left:0px;
}