html {
  overflow: hidden;
}

body {
  background-color: white;
}

.container {
  position: absolute;
  top: 34%;
  left: 51%;
  transform: translate(-50%, -50%) scale(0.35);
  width: 1123px;
  height: 877px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

#pointer-zone {
  position: absolute;
  top: 34%;
  left: 51%;
  transform: translate(-50%, -50%) scale(0.35);
  width: 1123px;
  height: 877px;
  z-index:9;
  cursor:pointer;
}

.container table {
  margin-bottom: 30px;
  margin: 0 auto;
}

.container .counter {
  margin-top: 20px;
  background-color: hwb(197 78% 0%);
}

#topline-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

.counterContent {
  display: inline-block;
}

.container .selectMenu {
  margin-top: 10px;
}

#menuImg {
  width: 209px;
  margin-left: 78px;
}

.menu {
  display: table-cell;
}

.container>div.main-content {
  overflow-x: hidden;
  padding-inline: 10%;
  position: absolute;
  top: -7%;
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: unset;
  padding-top: 10%;
  padding-left: 17%;
  padding-bottom: 40%;
}

#profile,
#works,
#link {
  position: relative;
  animation: displayAnim 0.5s forwards;
}

#works {
  overflow: visible;
  width: 1000px;
}

@keyframes displayAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container .menuButton {
  height: 100%;
}

.container #main-img {
  width: 90%;

}

#before-old-pc,
#after-old-pc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  pointer-Events:none;
}

#white-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  animation: fadeOut 3s forwards;
  pointer-events: none;
  z-index: 11;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 11;
  color:orange;
}

#before-caution,
#after-caution {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-weight: bold;
  font-size: 500%;
  color: white;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.3s ease;
}

#beforeClick {
  opacity: 1;
  transition: opacity 1s ease;
}

#afterClick {
  opacity: 0;
  transition: opacity 1s ease;
}

  #loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}