.startingUp {
  position:relative;
  top:-20px;
  left:89px;
}

#S {
  content: "";
  position: absolute;
  top: -21px;
  left: -300px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 rgb(0, 0, 0),
20px 8px 0 rgb(0, 0, 0),
24px 8px 0 rgb(0, 0, 0),
28px 8px 0 rgb(0, 0, 0),
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 rgb(0, 0, 0),
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 rgb(0, 0, 0),
16px 16px 0 transparent,
20px 16px 0 transparent,
24px 16px 0 transparent,
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 rgb(0, 0, 0),
20px 20px 0 rgb(0, 0, 0),
24px 20px 0 rgb(0, 0, 0),
28px 20px 0 transparent,
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 transparent,
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 rgb(0, 0, 0),
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 transparent,
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 rgb(0, 0, 0),
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 rgb(0, 0, 0),
16px 32px 0 rgb(0, 0, 0),
20px 32px 0 rgb(0, 0, 0),
24px 32px 0 rgb(0, 0, 0),
28px 32px 0 transparent,
32px 32px 0 transparent;
}

#t {
  content: "";
  position: absolute;
  top: -21px;
  left: -280px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 rgb(0, 0, 0),
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 rgb(0, 0, 0),
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 transparent,
16px 16px 0 rgb(0, 0, 0),
20px 16px 0 rgb(0, 0, 0),
24px 16px 0 rgb(0, 0, 0),
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 rgb(0, 0, 0),
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 transparent,
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 rgb(0, 0, 0),
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 transparent,
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 rgb(0, 0, 0),
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 transparent,
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 transparent,
20px 32px 0 rgb(0, 0, 0),
24px 32px 0 rgb(0, 0, 0),
28px 32px 0 transparent,
32px 32px 0 transparent;
}

#a {
  content: "";
  position: absolute;
  top: -21px;
  left: -263px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 transparent,
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 transparent,
16px 16px 0 rgb(0, 0, 0),
20px 16px 0 rgb(0, 0, 0),
24px 16px 0 rgb(0, 0, 0),
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 transparent,
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 rgb(0, 0, 0),
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 rgb(0, 0, 0),
20px 24px 0 rgb(0, 0, 0),
24px 24px 0 rgb(0, 0, 0),
28px 24px 0 rgb(0, 0, 0),
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 rgb(0, 0, 0),
16px 28px 0 transparent,
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 rgb(0, 0, 0),
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 rgb(0, 0, 0),
20px 32px 0 rgb(0, 0, 0),
24px 32px 0 rgb(0, 0, 0),
28px 32px 0 rgb(0, 0, 0),
32px 32px 0 transparent;
}

#r {
  content: "";
  position: absolute;
  top: -21px;
  left: -245px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 transparent,
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 transparent,
16px 16px 0 rgb(0, 0, 0),
20px 16px 0 transparent,
24px 16px 0 rgb(0, 0, 0),
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 rgb(0, 0, 0),
20px 20px 0 rgb(0, 0, 0),
24px 20px 0 transparent,
28px 20px 0 transparent,
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 rgb(0, 0, 0),
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 transparent,
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 rgb(0, 0, 0),
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 transparent,
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 rgb(0, 0, 0),
20px 32px 0 transparent,
24px 32px 0 transparent,
28px 32px 0 transparent,
32px 32px 0 transparent;
}

#t2 {
  content: "";
  position: absolute;
  top: -21px;
  left: -231px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 rgb(0, 0, 0),
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 rgb(0, 0, 0),
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 transparent,
16px 16px 0 rgb(0, 0, 0),
20px 16px 0 rgb(0, 0, 0),
24px 16px 0 rgb(0, 0, 0),
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 rgb(0, 0, 0),
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 transparent,
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 rgb(0, 0, 0),
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 transparent,
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 rgb(0, 0, 0),
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 transparent,
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 transparent,
20px 32px 0 rgb(0, 0, 0),
24px 32px 0 rgb(0, 0, 0),
28px 32px 0 transparent,
32px 32px 0 transparent;
}

#i {
  content: "";
  position: absolute;
  top: -21px;
  left: -215px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 rgb(0, 0, 0),
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 transparent,
16px 16px 0 rgb(0, 0, 0),
20px 16px 0 transparent,
24px 16px 0 transparent,
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 rgb(0, 0, 0),
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 transparent,
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 rgb(0, 0, 0),
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 transparent,
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 rgb(0, 0, 0),
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 transparent,
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 rgb(0, 0, 0),
20px 32px 0 transparent,
24px 32px 0 transparent,
28px 32px 0 transparent,
32px 32px 0 transparent;
}

#n {
  content: "";
  position: absolute;
  top: -21px;
  left: -204px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 transparent,
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 rgb(0, 0, 0),
16px 16px 0 rgb(0, 0, 0),
20px 16px 0 rgb(0, 0, 0),
24px 16px 0 rgb(0, 0, 0),
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 rgb(0, 0, 0),
16px 20px 0 transparent,
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 rgb(0, 0, 0),
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 rgb(0, 0, 0),
16px 24px 0 transparent,
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 rgb(0, 0, 0),
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 rgb(0, 0, 0),
16px 28px 0 transparent,
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 rgb(0, 0, 0),
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 rgb(0, 0, 0),
16px 32px 0 transparent,
20px 32px 0 transparent,
24px 32px 0 transparent,
28px 32px 0 rgb(0, 0, 0),
32px 32px 0 transparent;
}

#g {
  content: "";
  position: absolute;
  top: -9px;
  left: -179px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 rgb(0, 0, 0),
20px 4px 0 rgb(0, 0, 0),
24px 4px 0 rgb(0, 0, 0),
28px 4px 0 rgb(0, 0, 0),
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 rgb(0, 0, 0),
16px 8px 0 transparent,
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 rgb(0, 0, 0),
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 rgb(0, 0, 0),
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 rgb(0, 0, 0),
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 rgb(0, 0, 0),
16px 16px 0 transparent,
20px 16px 0 transparent,
24px 16px 0 transparent,
28px 16px 0 rgb(0, 0, 0),
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 rgb(0, 0, 0),
20px 20px 0 rgb(0, 0, 0),
24px 20px 0 rgb(0, 0, 0),
28px 20px 0 rgb(0, 0, 0),
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 transparent,
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 rgb(0, 0, 0),
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 rgb(0, 0, 0),
20px 28px 0 rgb(0, 0, 0),
24px 28px 0 rgb(0, 0, 0),
28px 28px 0 transparent,
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 transparent,
20px 32px 0 transparent,
24px 32px 0 transparent,
28px 32px 0 transparent,
32px 32px 0 transparent;
}

#u {
  content: "";
  position: absolute;
  top: -21px;
  left: -143px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 transparent,
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 rgb(0, 0, 0),
16px 16px 0 transparent,
20px 16px 0 transparent,
24px 16px 0 transparent,
28px 16px 0 rgb(0, 0, 0),
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 rgb(0, 0, 0),
16px 20px 0 transparent,
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 rgb(0, 0, 0),
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 rgb(0, 0, 0),
16px 24px 0 transparent,
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 rgb(0, 0, 0),
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 rgb(0, 0, 0),
16px 28px 0 transparent,
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 rgb(0, 0, 0),
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 rgb(0, 0, 0),
20px 32px 0 rgb(0, 0, 0),
24px 32px 0 rgb(0, 0, 0),
28px 32px 0 rgb(0, 0, 0),
32px 32px 0 transparent;
}

#p {
  content: "";
  position: absolute;
  top: -14px;
  left: -119px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 rgb(0, 0, 0),
16px 8px 0 rgb(0, 0, 0),
20px 8px 0 rgb(0, 0, 0),
24px 8px 0 rgb(0, 0, 0),
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 rgb(0, 0, 0),
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 rgb(0, 0, 0),
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 rgb(0, 0, 0),
16px 16px 0 transparent,
20px 16px 0 transparent,
24px 16px 0 transparent,
28px 16px 0 rgb(0, 0, 0),
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 rgb(0, 0, 0),
16px 20px 0 transparent,
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 rgb(0, 0, 0),
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 rgb(0, 0, 0),
16px 24px 0 rgb(0, 0, 0),
20px 24px 0 rgb(0, 0, 0),
24px 24px 0 rgb(0, 0, 0),
28px 24px 0 transparent,
32px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 rgb(0, 0, 0),
16px 28px 0 transparent,
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 transparent,
32px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 rgb(0, 0, 0),
16px 32px 0 transparent,
20px 32px 0 transparent,
24px 32px 0 transparent,
28px 32px 0 transparent,
32px 32px 0 transparent;
}

#dot {
  content: "";
  position: absolute;
  top: -23px;
  left: -85px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow:4px 4px 0 transparent,
8px 4px 0 transparent,
12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 transparent,
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 transparent,
32px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 transparent,
16px 16px 0 transparent,
20px 16px 0 transparent,
24px 16px 0 transparent,
28px 16px 0 transparent,
32px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 transparent,
20px 20px 0 transparent,
24px 20px 0 transparent,
28px 20px 0 transparent,
32px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 transparent,
20px 24px 0 transparent,
24px 24px 0 transparent,
28px 24px 0 transparent,
32px 24px 0 transparent,
4px 28px 0 rgb(0, 0, 0),
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 rgb(0, 0, 0),
20px 28px 0 transparent,
24px 28px 0 transparent,
28px 28px 0 rgb(0, 0, 0),
32px 28px 0 transparent,
4px 32px 0 rgb(0, 0, 0),
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 rgb(0, 0, 0),
20px 32px 0 transparent,
24px 32px 0 transparent,
28px 32px 0 rgb(0, 0, 0),
32px 32px 0 transparent;
}
