.search-result {
    position:relative;
    width:80%;
    left:100px;
}

.result-table {
    position: relative;
    width: 900px;
    border-collapse: collapse;
    border-bottom: 1px solid hwb(0 73% 27%);
    border-radius: 5px;
    left: -51px;
}

.result-table th {
    border: 1px solid hwb(0 73% 27%);
    padding: 8px;
}

.result-table td {
    border-left: 1px solid hwb(0 73% 27%);
    border-right: 1px solid hwb(0 73% 27%);
    padding: 8px;
}

.result-table th {
    background-color: #dddddd;
    text-align: center;
}

.result-table th:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.result-table th.urlKey {
    filter: brightness(100%);
    cursor: default;
}

.result-row:nth-child(even) {
    background-color: hwb(0 95% 5%);
}

.result-row:nth-child(odd) {
    background-color: white;
}

.result-row:hover {
    background-color: rgb(215, 243, 255);
}

.result-table th > .key {
    position: relative;
}

#sortWindowType label {
    text-align: left;
}

#filterbutton {
    position: relative;
    width: 38px;
    height: 38px;
    left : unset;
    top: -14px;
    overflow: hidden;
    cursor: pointer;
}

#gridbutton {
    position: relative;
    width: 38px;
    height: 38px;
    right: -644px;
    top: -10px;
    overflow: hidden;
    cursor: pointer;
}

#detailbutton {
    position: relative;
    width: 38px;
    height: 38px;
    right: -655px;
    top: -10px;
    overflow: hidden;
    cursor: pointer;
}

.button-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color : rgba(36, 94, 255, 0.89);
}

a:visited {
    color: rgba(36, 94, 255, 0.89);
}

.result-grid-table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: -1rem;
}

.result-grid {
    position: relative;
    width: 24%;
    height: 193px;
    margin: 22px;
    left: 36px;
    top: 2px;
}

.data-img {
    position: relative;
    width: 213px;
    height: 213px;
    top: 0%;
    left: 0%;
}

.black {
    position: relative;
    width: 213px;
    height: 213px;
    top: -114%;
    left: 0%;
    opacity:0;
    content: "test";
    transition: 0.2s
}

.black:hover {
    opacity : 0.7;
}

#filters{
    position : relative;
    top:35px;
    left : 70px;
    height : 31px;
}

#sortWindowType {
    position: relative;
    z-index: 1;
    top: -14px;
    width: 180px;
    height: 200px;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow : auto;
    white-space: nowrap;
    overflow-y: scroll;
}

#sortWindowType li{
    list-style: square;
}

.sub-tree, .sub-tree2 {
    position:relative;
    display: none;
    top:5px;
    left: -36px;
}

li {
    cursor: pointer;
}

#tree, #tree2 {
    position: relative;
    left: -8px;
    top: -10px;

}

.sub-tree div, .sub-tree2 div{
    position: relative;
    left: -14px;
}