.search-result {
    position: relative;
    width: 92%;
    left: 100px;
}

.result-table {
    top: 25px;
    position: relative;
    width: 900px;
    border-collapse: collapse;
    border-bottom: 1px solid hwb(0 73% 27%);
    border-radius: 5px;
    left: -60px;
    animation: displayAnim 0.2s forwards;
}

.result-table th {
    border: 1px solid hwb(0 73% 27%);
    padding: 8px;
}

.result-table td {
    border-left: 1px solid hwb(0 73% 27%);
    border-right: 1px solid hwb(0 73% 27%);
    padding: 8px;
}

.result-table th {
    background-color: #dddddd;
    text-align: center;
}

.result-table th:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.result-table th.urlKey {
    filter: brightness(100%);
    cursor: default;
}

.result-row:nth-child(even) {
    background-color: hwb(0 95% 5%);
}

.result-row:nth-child(odd) {
    background-color: white;
}

.result-row:hover {
    background-color: rgb(215, 243, 255);
}

.result-table th>.key {
    position: relative;
}

#sortWindowType label {
    text-align: left;
}

#filterbutton {
    position: relative;
    width: 42px;
    height: 42px;
    left: unset;
    top: -14px;
    overflow: hidden;
    cursor: pointer;
}

#gridbutton {
    position: relative;
    width: 42px;
    height: 42px;
    right: -727px;
    top: -10px;
    overflow: hidden;
    cursor: pointer;
}

#detailbutton {
    position: relative;
    width: 42px;
    height: 42px;
    right: -740px;
    top: -10px;
    overflow: hidden;
    cursor: pointer;
}

.button-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgba(36, 94, 255, 0.89);
}

a:visited {
    color: rgba(36, 94, 255, 0.89);
}

.result-grid-table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: -24px;
    left: -15px;
    animation: displayAnim 0.2s forwards;
}

.result-grid {
    position: relative;
    width: 25%;
    height: 231px;
    margin: 36px;
    left: -66px;
    top: 2px;
}

.data-img {
    position: relative;
    width: 275px;
    height: 275px;
    top: 0%;
    left: 0%;
}

.black {
    position: relative;
    width: 274px;
    height: 275px;
    top: -282px;
    left: 0%;
    opacity: 0;
    content: "test";
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white !important;
    font-weight: bold;
}

.black:hover {
    opacity: 0.8;
}

#filters {
    position: relative;
    top: 35px;
    left: -35px;
    height: 31px;
}

#sortWindowType {
    position: relative;
    z-index: 1;
    top: -14px;
    width: 180px;
    height: 200px;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: auto;
    white-space: nowrap;
    overflow-y: scroll;
    animation: displayAnim 0.2s forwards;
}

#sortWindowType li {
    list-style: square;
}

.sub-tree,
.sub-tree2 {
    position: relative;
    display: none;
    top: 5px;
    left: -36px;
}

li {
    cursor: pointer;
}

#tree,
#tree2 {
    position: relative;
    left: -8px;
    top: -10px;

}

.sub-tree div,
.sub-tree2 div {
    position: relative;
    left: -14px;
}

@keyframes displayAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#content-screen {
    position: relative;
    height: 400px;
    width: 874px;
    left: 65px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    color: white;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#content-screen:before {
    content: "";
    z-index: -1;
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#screen-back-link {
    position: relative;
    left: 36px;
    top: 34px;
    font-weight: bold;
    align-items: center;
}

#content {
    position: relative;
    top: 40px;
    height: 300px;
    width: 80%;
    left: 10%;
}

#content-img {
    position:relative;
    top:100px;
}

#title {
    position: relative;
    top: -57px;
    left: 133px;
}

#description {
    position: relative;
    top: -50px;
    left: 131px;
}

#language {
    position: relative;
    left: 130px;
}

#content-link {
    position: relative;
    left: 130px;
}

#github-link {
    position:relative;
    left:130px
}